
<aside id="sidebar1"><!-- sidebar1 -->
				<h3>Catagories</h3>
					<ul>
						<% @shopping_navbar.each do |jewelry| -%>
							<li><%= link_to jewelry, category_path(jewelry) %></li>
						<% end %>
					</ul>		
					
				<h3>Artists</h3>
					<ul>
						<% @users.each do |user| %> 
						<li>
						<%= link_to user.full_name, artist_path([user.first_name,  user.last_name].join("_")) %>
						</li>
						<% end %>
					</ul>
						
				<h3>Related Articles</h3>
					<ul>
						<li><a href="#">Curabitur sodales</a></li>

						<li><a href="#">Sed dignissim</a></li>
						<li><a href="#">Fusce nec</a></li>
						<li><a href="#">Curabitur sodales</a></li>
						<li><a href="#">Sed dignissim</a></li>
						<li><a href="#">Fusce nec</a></li>
					</ul>

				<h3>Connect With Us</h3>
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>

		</aside>
		
		
