<p>
	View: <%= link_to "all", :status => '' %>
	<%= link_to "open", :status => 'open' %>
	<%= link_to "processed", :status => 'processed' %>
	<%= link_to "closed", :status => 'closed' %>
	<%= link_to "failed", :status => 'failed' %>
<p> 